
body {
  background-color: light; 
  font-family: Arial, sans-serif;
}


h1 {
  color: darkred; 
  text-align: center;
}


p {
  color: darkgreen;
  padding: 10px;
}


ul {
  list-style-type: square;
  color: yellow;
}

li {
  color: orange;
}


a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}


.styled-box {
  border: 2px solid black;
  background-color: grey; 
  padding: 15px;
  text-align: center;
}
